<footer class="footer-italiano">
  <div class="footer-content">
    <div class="footer-logo">
      
    </div>
    <div class="footer-text">
      <p>La auténtica experiencia italiana, directamente en tu mesa.</p>
      <p>Creado con pasión y dedicación.</p>
    </div>
    <div class="footer-icons">
      <a class="a" href="https://www.instagram.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" class="footer-icon">
      </a>
      <a class="a" href="https://www.facebook.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" class="footer-icon">
      </a>
    </div>
  </div>
</footer>
