<header class="header">
  <div class="section green"></div>
  <div class="section white">
    <img src="/public/images/Logo Pizzamisu.png" alt="Logo de la página" class="logo">
  </div>
  <div class="section red"></div>
</header>
